# Dependencies
node_modules/
package-lock.json

# Angular
.angular/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment (si lo usaras)
.env
.env.local

# Build
*.tgz
